#wrap, .preload:after {
    height: 100%;
    width: 100%;
}

.layout-main-wrapper {
    position: relative;
}


#lnbMenu {
    overflow: hidden;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 50px;
    height: 45px;
    width: 100%;
    background: #fff url(https://res.kurly.com/mobile/service/common/1908/bg_e5e5e5_1x1.png) repeat-x 0 100%;
    color: #333;
    line-height: 1.5;
    letter-spacing: 0;
}

/* #lnbMenu .shadow_before {
    display: block;
    left: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    pointer-events: none;
}

#lnbMenu .bg_shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 50px;
    height: 44px;
    background: url(https://res.kurly.com/mobile/img/1812/bg_snb_100x2.png) repeat-y 0 0;
    background-size: 50px 1px;
}

#lnbMenu .shadow_after {
    display: block;
    right: 0;
    pointer-events: none;
} */

#lnbMenu .inner_lnb {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 1000px;
}

#lnbMenu ul {
    position: relative;
}
#lnbMenu li {
    float: left;
}

#lnbMenu a.on {
    font-weight: 600;
    color: #5f0080;
}

#lnbMenu a {
    overflow: hidden;
    float: left;
    margin-left: 16px;
    padding: 12px 0;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    white-space: nowrap;
}

#lnbMenu .bg {
    position: absolute;
    left: 0;
    top: 42px;
    width: 0;
    height: 3px;
    background-color: #5f0080;
}

#goodsList {
    padding: 10px 0 50px;
    background-color: #fff;
    color: #333;
    line-height: 1.5;
    letter-spacing: 0;
}

#goodsList .sort_menu {
    padding: 0 10px;
}


#goodsList .sort_menu .user_sort {
    float: right;
    width: 101px;
}

#goodsList .sort_menu .select_type {
    position: relative;
    z-index: 1;
    height: 42px;
}

#goodsList .sort_menu .select_type.checked .name_select {
    color: #5f0080;
}

#goodsList .sort_menu .user_sort .name_select {
    padding: 10px 8px 11px 0;
    text-align: right;
}


#goodsList .sort_menu .name_select {
    display: block;
    overflow: hidden;
    font-size: 14px;
}

a:active, a:hover {
    outline: 0;
}

#goodsList .sort_menu .select_type.checked .name_select:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#goodsList .sort_menu .name_select:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url(https://res.kurly.com/mobile/ico/1908/ico_arrow_top_20x20.png) no-repeat 50% 50%;
    background-size: 10px 10px;
    vertical-align: 0;
}

#goodsList .sort_menu .select_type.checked .list {
    display: block;
}

#goodsList .sort_menu .user_sort .list {
    left: auto;
    right: 0;
    width: 98px;
}

#goodsList .sort_menu .list {
    display: none;
    position: absolute;
    left: 0;
    top: 36px;
    width: 106px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

#goodsList .sort_menu .user_sort .list a {
    text-align: right;
    padding: 13px 18px 11px 0;
}

#goodsList .sort_menu .list a.on {
    font-weight: 600;
    color: #5f0080;
}

#goodsList .sort_menu .list a {
    display: block;
    overflow: hidden;
    width: 106px;
    height: 44px;
    padding: 13px 0 11px 12px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

#goodsList .sort_menu:after {
    content: "";
    display: block;
    overflow: hidden;
    height: 0;
    clear: both;
}

#goodsList .list_goods {
    overflow: hidden;
    padding: 0 16px;
}

#goodsList .list_goods li {
    float: left;
    width: 50%;
    padding: 0 4px 16px 0;
}

#goodsList .list_goods .item {
    display: block;
    background-color: #fff;
}

#goodsList .list_goods .thumb {
    display: block;
    position: relative;
    width: 100%;
    background-color: #f9f8f9;
}

#goodsList .list_goods .thumb .img {
    display: block;
    background-color: #eee;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#goodsList .list_goods .group_btn {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 36px;
}

#goodsList .list_goods .group_btn .btn_cart {
    background: url(https://res.kurly.com/mobile/service/goods/2010/ico_cart.svg) no-repeat 50% 50%;
    background-size: 36px 36px;
}

#goodsList .list_goods .group_btn .btn {
    display: block;
    width: 36px;
    height: 36px;
    margin-top: 10px;
    border: 0;
}

button {
    outline: none;
    border-radius: 0;
}

#goodsList .list_goods .info {
    display: block;
    height: 121px;
    padding: 10px 1px 0;
}

#goodsList .list_goods .name {
    display: block;
    overflow: hidden;
    max-height: 36px;
    padding-right: 8px;
    font-size: 14px;
    color: #333;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

#goodsList .list_goods .cost {
    display: block;
    padding-top: 4px;
    line-height: 16px;
}

#goodsList .list_goods .cost .price {
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

#goodsList .list_goods .tag {
    display: block;
    overflow: hidden;
    padding-top: 8px;
}

#goodsList .list_goods .cost .dodo {
    font-weight: 700;
    font-size: 14px;
    color: #333;
}