body{
    background-color: #f4f4f4;
}


body .header_menu {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 100%;
    min-height: 44px;
    padding: 0;
}

.user_form {
    min-height: 100%;
    padding: 0 0 70px;
    color: #333;
    line-height: 1.5;
    letter-spacing: 0;
}

.header_menu .inner_headermenu {
    position: relative;
    z-index: 1;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.header_menu .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 3px;
    background-color: #5f0080;
}

.header_menu .tab_menu2 .on a {
    color: #5f0080;
}

.header_menu .tab_menu2 a {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding-top: 13px;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    text-align: center;
    outline: none;
}

.header_menu .tab_menu2 li:last-child a {
    left: 50%;
}

.section_review .list_before {
    padding-top: 10px;
}

.section_review .list_after .no_data, .section_review .no_data {
    padding-top: 120px;
    background-color: #f4f4f4;
    font-size: 16px;
    color: #999;
    line-height: 17px;
    text-align: center;
}

.section_review .list_after {
    padding-top: 53px;
}

.section_review .list_after li {
    margin-bottom: 10px;
    padding: 0 20px;
    background-color: #fff;
}

.section_review .list_after .tit_after {
    padding: 10px 0 6px;
    border-bottom: 1px solid #ccc;
}

.section_review .list_after .main_name {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}

.section_review .list_after .cont_after {
    display: block;
    padding-bottom: 10px;
}

.section_review .list_after .desc_after {
    display: block;
    overflow: hidden;
}

.section_review .list_after .thumb {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    margin: 14px 0 0 20px;
}

.section_review .list_after .subject {
    display: block;
    overflow: hidden;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section_review .list_after .txt {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section_review .list_after .desc {
    display: block;
    overflow: hidden;
    padding-top: 14px;
}

.section_review .list_after .info_after {
    display: block;
    overflow: hidden;
    padding-top: 15px;
}

.section_review .list_after .date {
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}

.section_review .list_after .help {
    float: right;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    text-align: right;
}