{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <script src="{% static 'accounts/js/authEmail.js' %}"></script>


</head>

<body>
    <div id="content">
        <div class="section_login">
            <h3 class="tit_login"></h3>

            <div class="write_form find_view">
                <form name="certForm" method="post" action="{% url 'accounts:resetpw' %}">
                    {% csrf_token %}
                    <input type="hidden" name="authKey" id="authKey" value="{{ certification_num }}">
                    <input type="hidden" name="email" id="email" value="{{ email }}">

                    <strong class="tit_label">이메일 주소 인증</strong>
                    <input type="text" name="certKey" id="certKey" maxlength="6" placeholder="전송된 인증번호를 입력해주세요">

                    <p class="txt_email">
                        인증번호를 못 받았다면?&nbsp;
                        <a href="#" class="emph">인증번호 재전송</a>
                        <!-- 재전송 작업 추후 필요 : 현재 새로고침으로 처리한 상태.
                        새로고침 방지 처리 찾기! -->
                    </p>
                    <button type="button" class="btn_type1">
                        <span class="txt_type">확인</span>
                    </button>

                </form>
            </div>
        </div>
    </div>

</body>

{% endblock %}