<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/mobile_common.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/mobile_common.js' %}"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
    <header id="header-bottom" class="menu_shortcut">
            <ul id="userMenu" class="list">
                <li>
                    <a href="#" class="shortcut_home">
                        홈
                    </a>
                </li>

                <li>
                    <a href="{% url 'shop:mobile_category' %}" class="shortcut_menu on">
                        카테고리
                    </a>
                </li>

                <li>
                    <a href="#" id="search-area-open" class="shortcut_search">
                        검색
                    </a>
                </li>

                <li>
                    <a href="#" class="shortcut_mypage">
                        마이컬리
                    </a>
                </li>
            </ul>
    </header>
</body>
</html>