{% load static %}
{% load humanize %}

<head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <title>shopping-cart</title>
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/list.bundle.css' %}">
        <script src="{% static 'shop/js/good_list01.js' %}"></script>

</head>


<div id="cartItemList" class="only_pc" style="min-height: 602px;">
    <div class=""><div class="cart_item ">
        <div class="cart_select">
            <div class="inner_select">
                <label class="check">
                    <input type="checkbox" name="checkAll" checked="">
                    <span class="ico"></span>전체선택 (1/1)</label>
                    <a href="#none" class="btn_delete">선택삭제</a></div></div>
                    <div class="box cold"><div class="tit_box"><h4 class="tit">
                        <span class="inner_tit">상품 목록</span></h4>
                        <button type="button" class="btn_dropup ">접기 / 펼치기</button></div>
                        <ul class="list ">
                            {% for cart_item in cart_items %}
                                <li>
                                <div class="item">
                            <label class="check" for="chkItemc7b3a4e1-4517-416c-9b3e-d41c0e7592f2">
                                <input type="checkbox" id="chkItemc7b3a4e1-4517-416c-9b3e-d41c0e7592f2" name="chkItem" data-item-id="c7b3a4e1-4517-416c-9b3e-d41c0e7592f2" data-item-no="65810" data-item-parent-no="65810" checked="">
                                <span class="ico"></span></label>

                                <!-- 상품 목록 중 1.-->
                                <div class="name">
                                    <div class="inner_name"><a href="#" class="package ">{{ cart_item.photo.product.name }}</a>
                                        <div class="info"></div>
                                    </div>

                                    <div class="goods">
                                        <a href="#" class="thumb " style="background-image: url( {{ cart_item.photo.main_image.url }} );">상품이미지</a>
                                        <!-- 이미지자리 ^-->
                                        <div class="price">
                                            <div class="in_price">
                                            <span class="selling">{{ cart_item.sub_total | intcomma }}<span class="won">원</span></span><p class="noti"></p></div>
                                            <div class="stamper count">
                                                <button type="button" class="btn minus off" data-item-id="c7b3a4e1-4517-416c-9b3e-d41c0e7592f2" data-item-no="65810" data-opt="decrease">감소</button>
                                                <input type="text" id="stepperCounter" class="num" readonly="" value={{ cart_item.quantity }}>
                                                <button type="button" class="btn plus" data-item-id="c7b3a4e1-4517-416c-9b3e-d41c0e7592f2" data-item-no="65810" data-opt="increase">추가</button></div></div></div>
                                                <button type="button" class="btn_delete" data-item-id="c7b3a4e1-4517-416c-9b3e-d41c0e7592f2" data-item-no="65810" data-type="cold">상품 삭제</button></div></li>
                            {% endfor %}
                    </div>
                                                <div class="cart_select">
                                                    <div class="inner_select"><label class="check">
                                                        <input type="checkbox" name="checkAll" checked="">

                        </ul>                <span class="ico"></span>전체선택 (1/1)</label>

                                                    <a href="#none" class="btn_delete">선택삭제</a></div></div></div><div class="cart_result">
                                                        <div class="inner_result" style="top: 60px;">
                                                        <div class="cart_delivery"><h3 class="tit">배송지</h3><div class="address"><p class="addr">인천 연수구 909호</p>
                                                            <span class="delivery star">샛별배송</span>
                                                            <a href="ship_destination.html" onclick="window.open(this.href,'shipping destination','width=514, height=584');return false;" class="btn default">배송지 변경</a></div></div>
                                                            <div class="amount_view"><dl class="amount"><dt class="tit">상품금액</dt><dd class="price"><span class="num">{{ total | intcomma }}</span>
                                                                <span class="won">원</span></dd></dl><dl class="amount"><dt class="tit">상품할인금액</dt><dd class="price"><span class="num">0</span>
                                                                    <span class="won">원</span></dd></dl><dl class="amount"><dt class="tit">배송비</dt><dd class="price"><span class="num">{{ ship_price | intcomma }}</span>
                                                                        <span class="won">원</span></dd></dl><dl class="amount lst"><dt class="tit">결제예정금액</dt><dd class="price"><span class="num">{{ payment_amount | intcomma }}</span>
                                                                            <span class="won">원</span></dd></dl><div class="reserve"><span class="bage">적립</span>구매 시 <span class="emph">325원 적립</span></div></div>
                                                                            <div class="btn_submit"><button type="submit" class="btn active">주문하기</button></div>
                                                                            <div class="notice"><span class="txt">
                                                                                <span class="ico">·</span>쿠폰/적립금은 주문서에서 사용 가능합니다</span><span class="txt">
                                                                                    <span class="ico">·</span>‘입금확인’ 상태일 때는 주문 내역 상세에서 직접 주문취소가 가능합니다.</span>
                                                                                    <span class="txt">
                                                                                        <span class="ico">·</span>‘입금확인’ 이후 상태에는 고객센터로 문의해주세요.
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>