<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/css/good_list.css' %}">
    <script src="{% static 'shop/js/good_list.js' %}"></script>
    <SCRIPT LANGUAGE="JavaScript">

        if(top.document.location.search != "?mobile")
        {
                var strGoto = "{% url 'shop:mobile_product_list' %}";
                var str = window.navigator.userAgent.toLowerCase();
                if(/iphone/.test(str) || /android/.test(str) || /opera/.test(str) || /bada/.test(str) || /iemobile/.test(str) || /lgtelecom/.test(str) || /ppc/.test(str) || /sonyericsson/.test(str) || /sonyericsson/.test(str) || /blackberry/.test(str)){
                 top.document.location.replace(strGoto);
                }
        }

    </SCRIPT>
</head>
<body class="noBody">
    <div id="container" class="container">

        <div id="main">
            <div id="content">
                <div class="page_aticle">
                    <div id="lnbMenu" class="lnb_menu">
                        <div class="inner_lnb">
                            <div class="ico_cate">
                                <span class="ico" style="display:block;">
                                <img src="https://img-cf.kurly.com/shop/data/category/icon_veggies_active_pc@2x.1586324570.png" id="goodsListIconView" alt="카테고리 아이콘"> </span>
                                <span class="tit">채소</span>
                            </div>

                            <ul class="list">
                                <li name="cate_gory">
                                    <a href="{% url 'shop:product_in_category' main_category 'all' %}" class="on">전체보기</a>
                                </li>
                                {% for category in categories %}
                                    <li name="cate_gory">
                                        <a href="{% url 'shop:product_in_category' main_category category %}" class=>{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                                <li class="bg" style="top: 78px; width: 68px; left: 29px; opacity: 1;"></li>


                            </ul>



                        </div>

                    </div>


                    <div id="goodsList" class="page_section section_goodslist">
                        <div class="list_ability">
                            <div class="sort_menu">
                                <div class>
                                    <div class="select_type user_sort">
                                        <a class="name_select">
                                            추천순
                                        </a>


                                        <ul class="list checked">
                                            <li>
                                                <a class="on">추천순</a>
                                            </li>
                                            <li>
                                                <a class>신상품순</a>
                                            </li>
                                            <li>
                                                <a class>인기상품순</a>
                                            </li>
                                            <li>
                                                <a class>혜택순</a>
                                            </li>
                                            <li>
                                                <a class>낮은 가격순</a>
                                            </li>
                                            <li>
                                                <a class>높은 가격순</a>
                                            </li>
                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>



                        <div class="list_goods">
                            <div class="inner_listgoods">
                                <ul class="list">                                   <!-- 여기서 부터 물건 리스트-->

                                    {% for photo in photos %}
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a href="{% url 'shop:product_detail' photo.product.id %}" class="img">
                                                        <img src="{{ photo.main_image.url }}" alt="무농약 콩으로 재배한 콩나물(1봉/200g)" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'" width="308" height="396">


                                                    </a>
                                                    <span class="global_sticker" style="display: none;">
                                                        <span class="inner_sticker">
                                                            <span class="bg_sticker"></span>
                                                            <span class="txt_sticker">
                                                                <span class="emph_sticker">1+2
                                                                </span>
                                                                이벤트
                                                            </span>
                                                        </span>
                                                    </span>

                                                    <div class="group_btn">
                                                        <button type="submit" value={{ photo.id }} name="chk" class="btn btn_cart">
                                                            <span class="screen_out">38300</span>
                                                        </button>
                                                    </div>



                                                </div>

                                                <a class="info">
                                                    <span class="name">
                                                        {{ photo.product.name }}
                                                    </span>
                                                    <span class="cost">
                                                        <span class="price">{{ photo.product.price | intcomma }}</span>
                                                        <input type="hidden"  id="product_cost1" value={{ photo.product.price }} >
                                                        <span class="dodo">원</span>
                                                    </span>

                                                    <span class="desc">{{ photo.product.description }}</span>
                                                    <span class="tag"></span>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}




                                </ul>
                            </div>
                        </div>



                        <div class="layout-pagination">
                            <div class="pagediv">
                                <a href="#main" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a>
                                <a href="#main" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                                {% if category_name %}
                                    {% for page in page_range %}
                                    <a href="{% url 'shop:product_in_category' main_category category_name %}?page={{ page }}">
                                        <span>
                                            <strong class="layout-pagination-button layout-pagination-number">
                                                {{ page }}
                                            </strong>
                                        </span>
                                    </a>
                                    {% endfor %}
                                {% else %}
                                    {% for page in page_range %}
                                        <a href="{% url 'shop:product_list' main_category %}?page={{ page }}">
                                            <span>
                                                <strong class="layout-pagination-button layout-pagination-number">
                                                    {{ page }}
                                                </strong>
                                            </span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                                <a href="#main" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a>
                                <a href="#main" class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="bg_loading" id="bgLoading">
                    <div class="loading_show"></div>
                </div>




            </div>
















        </div>















    </div>



    <div id="cartPut">
        <div class="cart_option cart_type3" style="opacity: 1;">
            <form action="" method="POST" id="contactsForm">
                {% csrf_token %}
                <div class="inner_option">
                    <div class="in_option">
                        <div class="list_goods">
                            <ul class="list list_nopackage">
                                <li class="on">
                                    <span class="name">

                                    </span>
                                    <div class="option">
                                        <span class="count">
                                            <button type="button" class="btn down on">수량내리기</button>
                                            <input type="number" readonly="readonly" name="count" value = 1 class="inp">
                                            <div style="display:none;">
                                                <input type="hidden" class="count_num" >1
                                            </div>
                                            <button type="button" class="btn up on">수량올리기</button>
                                        </span>

                                        <span class="price">
                                            <span class="dc_price"></span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="total">
                            <div class="price">
                                <strong class="tit">합계</strong>
                                <span class="sum">
                                    <span class="num">1,300</span>
                                    <span class="won">원</span>
                                </span>
                            </div>

                            <p class="txt_point">
                                <span class="ico">적립</span>
                                <span class="point">
                                    구매 시
                                    <strong class="emph">65원 적립</strong>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="group_btn off layer_btn2">
                        <span class="btn_type2">
                            <button type="button" class="txt_type">취소</button>
                        </span>
                        <span class="btn_type1">
                            <button type="submit" value=1 name="product_id" class="txt_type">장바구니 담기</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>


    </div>




    





    
</body>
</html>
{% endblock %}